* {
    font-family: 'Raleway', sans-serif;
}



html {
    background: rgb(00,88,81);
    height: 100%;
    width: 100%;
    
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

p, h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
}

p {
    justify-content: center;
    text-align: center;
    
    font-size: 2.5vw;
    color: white; 
    padding: 10%;
    
}

img {
    max-height: 15vw;
    max-width: 150%;
    opacity: 0.6;
    padding: 0 25%;
}


.two p {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    
}

.three p {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.four p {
    
    /*
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;*/
    
    font-size: 10vw; 
    
}

.photo {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 100%;
}

.oasis {
    
    max-height: 40%; 
    max-width: 100%;
    opacity: 0.8;
    padding: 0 25%;
}

.one {
    background-image: url(https://image.ibb.co/b0eMt9/alberto_restifo_4508_unsplash.jpg);
    
    /*God bless flex-box */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.two {
    background-image: url("https://image.ibb.co/muYUTK/image_2.jpg");
     position: relative;
    
}
.three {
    background-image: url("https://image.ibb.co/kYgSFz/image_1.jpg");
     position: relative;

}
.four {
    background-image: url("https://image.ibb.co/jRy0qe/pexel4.jpg");
    
    position: relative;
    
    /* Flex-box */
    
    display: flex;
    flex-direction: column;
    justify-content: center; 
}



header {
    
    font-size: 2vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    
    
    
    
    vertical-align: 25%;
    
    
    
    
}

#d-menu {
    background: rgba(0,0,0,0);
    color: white;
}

#navi {
    font-size: 2.9em
}


/* Mobile CSS */

.mobile body {
    overflow: hidden;
    /*
    position: relative;
    height: 100%;
    */
}

.mobile #wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.mobile #scroller {
    height: 3000px;
}







/* Extra small devices (phones, 600px and down) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    
    .photo {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100% 100%
}
    
.one {
    background-image: url("https://image.ibb.co/nwQbse/alberto_restifo_4508_mob.jpg");
    
    /*God bless flex-box */
        
}
.two {
    background-image: url("https://image.ibb.co/fYowse/pexel2_mob.jpg");
    
    
    /*
    min-height: 100%;
    vertical-align: middle; */

}
.three {
    background-image: url("https://image.ibb.co/iGo4Ce/pexel3.jpg");
    
    /*
    min-height: 100%;
    vertical-align: middle; */

}
.four {
    background-image: url("https://image.ibb.co/fcgjD9/aaron_gilmore_507659_unsplash.jpg");
    
    
      
}

}
    


a:hover {
    text-decoration: none;
}